:root{
    --hue-color: 335;

    --first-color:hsl(var(--hue-color),53%,49%);
    --title-color:hsl(var(--hue-color),53%,15%);
    --text-color:hsl(var(--hue-color),12%,35%);
    --text-color-light:hsl(var(--hue-color),12%,65%);
    --white-color:#FFF;
    --body-color:hsl(var(--hue-color),24%,94%);
}

/*  ----- Base ---- */
body{
        color:var(--text-color);
        background-color: var(--body-color);
   }

.clock_circle{
   box-shadow: -6px -6px 16px var(--white-color),
               6px 6px 16px hsla(var(--hue-color),30%,86%,1),
               inset 6px 6px 16px hsla(var(--hue-color),30%,86%,1),
               inset -6px -6px 16px var(--white-color);

}

  
.clock_twelve, .clock_three, .clock_six, .clock_nine{
   background-color: var(--text-color-light);
}
  
.clock_rounder{
   background-color: var(--first-color);
   border: 2px solid var(--body-color);
}

.clock_hour::before{
   background-color: var(--text-color);
}
  
.clock_minutes::before{
   background-color: var(--text-color);
}

.clock_seconds::before{
   background-color: var(--first-color);
}
 
.clock_logo{
   color:var(--text-color-light);
}
  
.clock_logo:hover{
   color:var(--first-color);
}
  
/* ------ Clock Text and Date ---- */
 
.clock_text-hour, .clock_text-minutes{
   color: var(--title-color);
}
.clock_text-ampam{
   color:var(--title-color);
}

.date_week{
   color: var(--first-color)
}
  
/* ----- Variable Dark THeme ----- */
body.dark-theme{
   --title-color:hsl(var(--hue-color),12%,95%);
   --text-color:hsl(var(--hue-color),12%,75%);
   --body-color:hsl(var(--hue-color),10%,16%);
}
  
/* ----- Button Dark/Light ----- */
.clock_theme{
   box-shadow: inset -1px -1px 1px hsl(var(--hue-color),0%,100%,1),
               inset 1px 1px 1px hsla(var(--hue-color),30%,86%,1);
               color:var(--first-color);
  }
  
/* ----- Box Shadow Dark theme ----- */
.dark-theme .clock_circle{
   box-shadow: hsla(var(--hue-color),8%,12%,1) 1.95px 1.95px 2.6px,
   6px 6px 16px hsla(var(--hue-color),8%,12%,1);
}
.dark-theme .clock_theme {
   box-shadow: inset -1px -1px 1px hsla(var(--hue-color), 8%, 20%, 1), 
               inset 1px 1px 1px hsla(var(--hue-color), 8%, 12%, 1);
}

.dot{
   border: 3px solid var(--body-color);
}
  